/* Colors */
$chesnut-rose:#f86e79;
$silver-tree:#22f79b;
$bluewood:#e3edf7;;
$alabaster:rgb(188, 191, 221);
$bunting: #141b41;



/* Fonts */
$pt-sans: 'PT Sans', sans-serif;

/* font-size */
$h1-size: 40px;